/* ----- COMMONS STYLES ----- */

h1,h2,h3,p { margin-top: 0;
             margin-bottom: 0;

}

ul, ol { margin-top: 0;
         margin-bottom: 0;
         padding-left: 0;
         list-style-type: none;}

a {color: inherit;
   text-decoration: none;}
button {cursor: pointer;}

.container { max-width: 1158;
             padding-left: 15;
             padding-right: 15;
             margin-left: auto;
             margin-right: auto;
}

img { display: block;}

body{font-family: "Roboto", sans-serif;
     color:#434455;
     background: #ffffff;}

      /* ----- HEADER STYLES ----- */

.page-hader{line-height:1.17;}

.logo{font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
       }
.logo-span{color:#2e2f42;} 

.menu-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
       }

.menu-link:hover,
.menu-link:focus{font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#404BBF;}

.address{font-style: normal}

.address-link{font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;}

.address-link:hover,
.address-link:focus{font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;}


        /* ----- HERO STYLES ----- */
.hero-section{background: #2e2f42;}

.hero-title{font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;}

.button-item{font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;}

.button-item:hover,
.button-item:focus{background: #404bbf;}

        /* ----- BENEFITS STYLES ----- */

 .ben-title{font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;}

.ben-logo{font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;}

.ben-text{line-height: 1.5;
        letter-spacing: 0.02em;
        }


        /* ----- REVIEWS STYLES ----- */
.reviews{background-color: #F4F4FD;}

.reviews-title{font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        background-color: #FFFFFF;
        color: #2e2f42;}

.reviews-item{background-color: #FFFFFF;}

.name-logo{font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        background-color: #FFFFFF;
        color: #2e2f42;}

 .name-text{font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        background-color: #FFFFFF;
        letter-spacing: 0.02em;}


        /* ----- PORTFOLIO STYLES ----- */ 


.portfolio-title{font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;}

.portfolio-logo{font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;}

.portfolio-text{font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;}

        
        /* ----- FOOTER STYLES ----- */

.footer{color: #4d5ae5;
        line-height: 1.17;
        background: #2e2f42;}
        
.footer-logo{font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;}

.logo-span-footer{color: #f4f4fd;}

.text-footer{line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;}

