ul, ol {list-style-type: none;}
a {text-decoration: none;}
button {cursor: pointer;}

.logo{display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;}
    